#parrafo1{
    background-color: rgb(253, 237, 6);
    font-size: 80px;
    position: relative;top: -8px; left: -8px;
    }
#subtitulo2{
    background-color: rgb(253, 237, 6);
    font-size: 60px;
    position: relative;top: -88px; left: -8px;
} 

#subtitulo3{
    background-color: rgb(34, 61, 182);
    font-size: 60px;
    position: relative;top: -150px; left: -8px;
} 
#subtitulo4{
    background-color: rgb(199, 18, 18);
    font-size: 60px;
    position: relative;top: -210px; left: -8px;
}  
  


    